# Control de versiones
.gitignore
.git
.dockerignore

# Entorno local de desarrollo
.env
venv/
.venv/

# Orquestacioón local
docker-compose.yml

# Archivos temporales y de cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/

# Notebooks de Jupyter y pruebas
**/*.ipynb
test/*

# evitar subir datos pesados y resultados de procesamiento
data/raw/
data/backup/
results/
models/