# datos
data/backup/
data/processed/cleaned/*.csv
data/processed/encoded/*.csv
data/processed/winsorized/*.csv
data/raw/*.csv
results

# python
__pycache__/
*.pyc

# entorno
.env

# notebooks
*.ipynb

# docker
docker-compose.yml
Dockerfile
models/*.pkl
